<ion-button
  color="primary"
  (click)="onPickImage()"
  *ngIf="!selectedImage"
  padding
>
  <ion-icon name="camera" slot="start"></ion-icon>
  <ion-label>Select Images</ion-label>
</ion-button>
<ion-grid *ngIf="selectedImages && selectedImages.length > 0" padding>
  <ion-row>
    <ion-col
      size-md="6"
      size-sm="6"
      size-lg="4"
      size-xl="4"
      size-xs="6"
      *ngFor="let selectedImage of selectedImages"
    >
      <div class="picker" padding>
        <ion-img
          role="button"
          class="location-image"
          [src]="selectedImage"
        ></ion-img>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-footer padding>
  <ion-buttons float-end>
    <ion-button color="danger" fill="solid" expand="block" (click)="onCancel()"
      >Cancel</ion-button
    >
    <ion-button
      color="primary"
      fill="solid"
      expand="block"
      (click)="onSave()"
      [disabled]="!(selectedImages && selectedImages.length > 0)"
      >Save</ion-button
    >
  </ion-buttons>
</ion-footer>
<input
  type="file"
  accept="image/*"
  *ngIf="usePicker"
  multiple
  #filePicker
  (change)="onFileChosen($event)"
/>
